.details-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div-img {
  margin-left: 5%;
    width: 100%;
  
}

.div-img img {
    border-radius: 10px;
    box-shadow: 6px 5px 15px -5px black;
    margin: 40px 0;
    width: 25%;
}

.details-card {
  width: 100%;
}


.details-card h1 {
  font-size: larger;
  margin-left: 3%;
  margin-top: 30px;
}

.details-card h2 {
  font-size: larger;
  margin-left: 3%;
  margin-top: 30px;
}

.category {
  align-items: center;
  color: rgb(124, 124, 124);
  font-size: medium;
  margin-left: 3%;
}

.ingredients-div {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  margin-left: 3%;
  padding: 5px;
  width: 90%;
}


.ingredients-div li {
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 15px;
}

.instructions {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 15px;
  color: black;
  margin-left: 3%;
  text-align: justify;
  width: 90%;
}

.btns-fav-share {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 20%;
}

.fav-btn {
  width: 30%;
  border-radius: 10px;
  border-style: none;
  background-color: white;
}

.fav-btn img {
  width: 100%;
}

.share-btn {
  width: 30%;
  border-radius: 10px;
  border-style: none;
  background-color: white;
}

.share-btn img {
  width: 100%;
}

.clip-board {
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  box-shadow: 6px 5px 15px -5px black;
}

.recomendadas {
  background-color: rgb(235, 235, 235);
  font-size: 30px;
  margin-left: 5px;
}

.card-carousel {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  width: 66.5%;
}

.carousel {
  width: 100%;
}

.carousel-items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-carousel {
  text-decoration: none;
  align-items: center;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  height: 510px;
  margin: 30px;
  width: 70%;
  background-color: rgb(235, 235, 235);
}


.link-carousel img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card-carousel p {
  margin: 15px 0;
  font-size: 40px;
  font-weight: 900;
  color: black;

}

.start-btn {
  background-color: rgb(188, 253, 184);
  border-radius: 10px;
  border-style: none;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  width: 80%;
}

.continue-btn {
  background-color: rgb(184, 228, 253);
  border-radius: 10px;
  border-style: none;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 800px){

  .div-img {
    height: 300px;
    overflow: auto;
    margin: 0;
  }
  
  .div-img img {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }

  .btns-fav-share {
    width: 70%;
  }

  .link-carousel {
    height: 250px;
  }

  .card-carousel p {
    font-size: 30px;
    margin: 15px 0;
  }

}