.div-edit {
  align-items: center;
  background-image: url('../images/editperfil.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.div-edit img {
  border-radius: 10px;
  width: 90%;
  margin-top: 20px;
  opacity: 0.9;
}

.edit-card {
  margin-bottom: 180px;
  margin-top: 40px;
  opacity: 0.9;
}

.form-edit {
  margin: 30px;
  margin-bottom: 40px;
}

.hstack.gap-4 {
padding: 3%;
}

.button-edit {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 651px){

  .div-edit img {
    width: 40%;
  }

}

@media screen and (min-width: 1350px){

  .div-edit img {
    width: 30%;
  }

}