header {
  align-items: center;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-around;
}

header h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}


.btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 30px;
}

.btns button {
  border-radius: 10px;
  border-style: none;
  padding: 10px 30px;
}

.cards-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.card-recipe {
  align-items: flex-end;
  border-radius: 10px;
  box-shadow: 6px 5px 15px -5px black;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.card-recipe button {
  margin: 10px;
}

.card-elements {
  display: flex;
}

.card-elements img {
  border-radius: 10px 10px 0 0;
  width: 50%;
}

.cads-text {
  font-size: 20px;
  margin-left: 15px;
}

.cads-text p:nth-child( 1 ) {
  color: darkgray;
  margin-bottom: 0;
  margin-top: 30px;
}

.cads-text p:nth-child( 2 ) {
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}

.cads-text p:nth-child( 3 ) {
  color: black;
  font-size: 15px;
}

.btns-favs { display: flex;}
