
.div-login{
  align-items: center;
  background-image: url('../images/5555.jpg');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.div-login img {
  border-radius: 10px;
  width: 90%;
  margin-top: 40px;
  opacity: 0.8;
}

.card {
  margin-top: 40px;
  box-shadow: 12px 8px 18px -2px rgba(0,0,0,0.62);
  opacity: 0.8;
}

.form-login {
  margin: 30px;
  margin-bottom: 40px;
}

.hstack.gap-4 {
padding: 3%;
}

.login-card {
  margin-bottom: 180px;
}

.button-login {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 651px){

  .div-login img {
    width: 40%;
  }

}

@media screen and (min-width: 1350px){

  .div-login img {
    width: 30%;
  }

}