.main-div-foods {
  align-items: center;
  background-image: url('../images/foodspage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-div-drinks {
  align-items: center;
  background-image: url('../images/3333.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  width: 100%;
  opacity: 0.95;
}

.card-recipe {
  background-color: white;
  border-radius: 10px 10px 0 0;
  margin: 15px;
  width: 80%;
}

.card-recipe a {
  text-decoration: none;
}
.card-recipe img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card-recipe p {
  color: black;

  font-size: 30px;
  font-weight: 800;
  padding: 5px 0;
  text-align: center;
}


.main-div-drinks img {
  width: 100%;
}

.main-div-foods img {
  width: 100%;
}

.main-div-drinks  header {
  align-items: flex-start;
  background-color: black;
  color:  white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-div-foods  header {
  align-items: flex-start;
  background-color: black;
  color:  white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-infos {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

.user-infos h1 {
  font-size: 60px;
}

.searchbar {
  margin: 20px 0 20px 40px;
}

.main-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  width: 100%;
  opacity: 0.95;
}

.filters-Btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 ;
  width: 95%;
  opacity: 0.85;
}

.filters-Btns button {
  border-radius: 10px;
  border-style: none;
  font-size: 25px;
  margin: 5px;
}

.filters-Btns button:hover {
  background-color: red;
}

.filters-Btns button:focus {
  background-color: red;
}


.filters-Btns-drink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 ;
  width: 95%;
  opacity: 0.85;
}

.filters-Btns-drink button {
  border-radius: 10px;
  border-style: none;
  font-size: 25px;
  margin: 5px;
}

.filters-Btns-drink button:hover {
  background-color: red;
}

.filters-Btns-drink button:focus {
  background-color: red;
}



@media screen and (min-width: 800px){

  .filters-Btns button {
    font-size: 40px;
  }

  .filters-Btns-drink button {
    font-size: 40px;
  }

  .container-recipes {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
  }

  .card-recipe {
    width: 20%;
  }
}

@media screen and (min-width: 1400px){

  .user-infos h1 {
    font-size: 100px;
  }

  .filters-Btns button {
    font-size: 60px;
  }

  .filters-Btns-drink button {
    font-size: 60px;
  }

  .container-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
  }

  .card-recipe {
    width: 20%;
  }
  
}
