.main-div-made {
  align-items: center;
  background-image: url('../images/recipesmade.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 170px;
}

.main-div-made img {
  width: 100%;
}

.main-div-made  header {
  align-items: flex-start;
  background-color: black;
  color:  white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-recipe {
  margin-bottom: 400px;
  width: 100%;
}

.user-infos-made {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

.user-infos-made h1 {
  font-size: 60px;
}

.filters-Btns-made {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 ;
  opacity: 0.8;
  width: 100%;
}

.filters-Btns-made button {
  border-radius: 10px;
  border-style: none;
  font-size: 25px;
  margin: 5px;
}

.filters-Btns-made button:hover {
  background-color: red;
  opacity: 0.8;
}

.filters-Btns-made button:focus {
  background-color: red;
  opacity: 0.8;
}
.cards-section-made {
  display: flex;
  justify-content: center;
}

.cards-container-made {
  align-items:center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-recipe-made {
  align-items: flex-end;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 5px 15px -5px black;
  display: flex;
  flex-direction: column;
  margin: 30px;
  opacity: 0.9;
  width: 90%;
}

.card-recipe-made a {
  text-decoration: none;
}

.card-elements-made {
  display: flex;
}

.card-elements-made img {
  border-radius: 10px 10px 0 0;
  width: 50%;
}


.tags-container {
  width: 100%;
}

.tags-container p {
  background-color: rgb(173, 92, 116);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-bottom: 10spx;
  margin-right: 4px;
  padding: 2px;
  text-align: center;
}
.cards-text-made {
  margin-left: 15px;
  width: 50%;
}

.cards-text-made p:nth-child( 1 ) {
  color: darkgray;
  font-size: 90%;
  margin-bottom: 5px;
  margin-top: 30px;
}

.cards-text-made p:nth-child( 2 ) {
  color: black;
  font-size: 90%;
  font-weight: 800;
  margin-bottom: 0;
  opacity: 0.8;
}

.cards-text-made p:nth-child( 3 ) {
  color: rgb(63, 63, 63);
  font-size: 90%;
  margin-bottom: 0;
}

.btns-made { 
  background-color: rgb(235, 235, 235);;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0;
}

.btns-made button {
  border-style: none;
  margin: 10px;
}

.btns-made img {
  width: 50%;
  background-color: rgb(255, 255, 255, 0);
}

@media screen and (min-width: 600px){

  .filters-Btns-made button {
    font-size: 40px;
  }
}

@media screen and (min-width: 840px){
  .cards-container-made {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .card-recipe-made {
    width: 35%;
  }

}

@media screen and (min-width: 1400px){

  .cards-container-made {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .user-infos-made h1 {
    font-size: 100px;
  }

  .filters-Btns-made button {
    font-size: 60px;
  }
  
}